<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}}</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
</head>

<div class="animation"></div>

<img src="http://twin-dev.net/experiments/codevember/maki/ressources/white-cloud.png" class="cloud">

<h1 id="title" class="title"><span>press</span><span>release</span></h1>

<svg viewbox="0 0 100 200" id="svg" preserveAspectRatio="none" class="svg-path">
    <path id="box" d="M0,0 H100 V100 Q50,200 0,100" fill="#00ADE6" />
</svg>
</html>
