<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/now-playing.css' />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!--&lt;!&ndash; ドロップダウン　子メニュー &ndash;&gt;-->
    <!--　<ul id="dropdown1" class="dropdown-content">-->
    <!--<li><a href="URL">dropdownメニュー01</a></li>-->
    <!--<li><a href="URL">dropdownメニュー02</a></li>-->
    <!--<li class="divider"></li>　&lt;!&ndash; ライン &ndash;&gt;-->
    <!--<li><a href="URL">dropdownメニュー03</a></li>-->
    <!--　</ul>-->

    <!--&lt;!&ndash; ナビゲーション &ndash;&gt;-->
    <!--　<nav>-->
    <!--　</nav>-->



</head>
<body>
<canvas id="c"></canvas>

{{#if session}}
    <div><img src="{{session.user.photos.[0].value }}"></div>
    <div>{{title}}</div>
{{else}}
    <a href="/oauth" class="btn-large waves-effect waves-light" style="text-transform: none;">Twitterでログイン</a>
{{/if}}


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/now-playing.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script></body>

</html>